<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/user/add" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="fname" name="name" value=""><br>
  <label for="lname"> Age:</label><br>
  <input type="text" id="lname" name="age" value=""><br><br>
  <label for="name">Email:</label><br>
  <input type="text" id="fname" name="email" value=""><br>
  <label for="name">City:</label><br>
  <input type="text" id="fname" name="city" value=""><br>
  <label for="name">Profession:</label><br>
  <input type="text" id="fname" name="profession" value=""><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>

